.tasks {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    border-radius: 5px;
    min-height: 70px;
    margin-bottom: 10px;
    padding: 25px 10px 10px 10px;
    position: relative;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.tasks:hover {
    background-color: #f5f7fa;
    cursor: pointer;
}

.tasks:hover .closeButton,
.tasks:hover .editButton {
    display: block;
}

.text {
    margin: 0;
    color: #2a5885;
}

.closeButton,
.editButton {
    position: absolute;
    color: #6a6d70;
    cursor: pointer;
    display: none;
    -webkit-transition: .19s;
    -o-transition: .19s;
    transition: .19s;
    opacity: .5;
}

.closeButton:hover,
.editButton:hover {
    opacity: 1;
}

.closeButton {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 3px;
    top: 0px;
}

.editButton {
    right: 33px;
    top: 1px;
    font-weight: bold;
}

.editTextarea {
    border: none;
    outline: none;
    width: 70%;
    height: 62px;
    resize: none;
    background-color: #edeef0;
    color: #2a5885;
}